{% extends "template.njk" %}

{% block body %}
<div class="container">
    <h1>This is definitely a good homepage.</h1>
    <p>There's even an image!</p>
    <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/25-dog-memes/018-dog-memes.jpg">
</div>
{% endblock %}