{% extends "template.njk" %}

{% block body %}
    <div class="container">
        <h1>Men.</h2>
    <img src="http://i3.kym-cdn.com/photos/images/newsfeed/000/308/470/6c5.png">
    </div>
{% endblock %}